<template name="desktopMenu">
	<div class="ui basic center aligned segment">
			<div class="ui tiny image">
				<img src="/images/logo.png">
			</div>		
	</div>

<!-- 	<div class="ui secondary vertical inverted green menu">
		<a class="header item">
			<i class="users icon"></i>
			Customers
		</a>
		<a class="item">
			<i class="users icon"></i>
			Messages
		</a>
		<a class="item">
			<i class="users icon"></i>
			Notifications
		</a>
		<a class="item">
			<i class="users icon"></i>
			Profile
		</a>		
	</div> -->


	<div class="ui selection center aligned inverted list">
		<a href="{{pathFor route='customers.all'}}" class="item">
			<div class="content">
				<h3 class="ui header">
					<i class="users brown icon"></i>
					Customers
				</h3>
			</div>
		</a>
		<a href="{{pathFor route='messages'}}" class="item">
			<div class="content">
				<h3 class="ui header">
					<i class="announcement brown icon"></i>
					Messages
				</h3>
			</div>
		</a>
		<a href="{{pathFor route='messages'}}" class="item">
			<div class="content">
				<h3 class="ui header">
					<i class="announcement brown icon"></i>
					Messages
				</h3>
			</div>
		</a>
		<a href="{{pathFor route='messages'}}" class="item">
			<div class="content">
				<h3 class="ui header">
					<i class="announcement brown icon"></i>
					Messages
				</h3>
			</div>
		</a>
	</div>
	


</template>


























