<template name="CsvInstructions">
	<div class="ui main container">
		<section class="ui raised very padded segment">
			<h2 class="ui header">
				Οδηγίες για εισαγωγή επαφών απο Gmail
			</h2>

			<div class="ui divided items">
				<div class="item">
					<div class="ui medium image">
						<img src="/images/step1.png">
					</div>
					<div class="content">
						<div class="header">Βήμα 1</div>
						<div class="description">
							Πας στις Επαφές
						</div>
					</div>
				</div>
				<div class="item">
					<div class="ui medium image">
						<img src="/images/step2.png">
					</div>
					<div class="content">
						<div class="header">Βήμα 2</div>
						<div class="description">
							Πατάς Εξαγωγή στο μενού αριστερά
						</div>
					</div>
				</div>
				<div class="item">
					<div class="ui medium image">
						<img src="/images/step3.png">
					</div>
					<div class="content">
						<div class="header">Βήμα 3</div>
						<div class="description">
							Επιλέγεις μετάβαση στις προηγούμενες επαφές
						</div>
					</div>
				</div>
				<div class="item">
					<div class="ui medium image">
						<img src="/images/step4.png">
					</div>
					<div class="content">
						<div class="header">Βήμα 4</div>
						<div class="description">
							Επιλεγεις Εξαγωγή από το υπομενού
						</div>
					</div>
				</div>
				<div class="item">
					<div class="ui medium image">
						<img src="/images/step5.png">
					</div>
					<div class="content">
						<div class="header">Βήμα 5</div>
						<div class="description">
							Τέλος, διάλεξε την μορφή "Μορφή CSV του Outlook" και πάτα το μπλε κουμπάκι.
							Αυτό είναι το αρχειο που πρέπει ανεβάσεις.
						</div>
					</div>
				</div>
			</div>

		</section>


	</div>
</template>