<template name="WordsNew">
	{{> notificationsMenu}}	
	<div class="ui main container">
		<section class="ui raised very padded segment">
			<h2 class="ui header">
				Κείμενο SMS για τις Αυτόματες Ειδοποιήσεις
			</h2>			
			<form class="ui form">
				<div class="field">
					<p>Type #date or #name in the place you want them to appear in the sms</p>
					<label>Μήνυμα</label>
					<textarea name="text" rows="3"></textarea>
				</div>
				<button type="submit" class="ui green submit button">save</button>
			</form>			
		</section>
	</div>
</template>